/* Attendance.css */
h2 {
  color: white;
}
.section-selector {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 8px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #3498db; /* Light gray background color for the select box */
  border: 1px solid #bdc3c7; /* Border color */
  border-radius: 4px;
}

/* Styling for section options */
.section-options {
  display: flex;
  align-items: center;
}

.section-option {
  background-color: #3498db; /* Blue background color */
  color: white; /* White text color */
  padding: 8px 12px;
  margin-right: 10px;
  border: 1px solid #2980b9; /* Slightly darker blue border */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section-option:hover {
  background-color: #2980b9; /* Slightly darker blue on hover */
}

.attendance-container {
  padding: 20px;
  text-align: center;
  background-color: #3498db; /* Blue background color */
  color: white; /* White text color */
  margin-top: 130px; /* Increased margin-top for more space */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift effect */
}

.attendance-table {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  /* margin-left: 350px; */
}

th,
td {
  padding: 12px;
  border: 2px solid #ddd;
  text-align: center;
}

th {
  background-color: #2c3e50; /* Dark blue background color */
  color: white; /* White text color */
}

tr {
  transition: background-color 0.3s ease;
}

/* Improved hover effect */
tr:hover {
  background-color: #2980b9; /* Slightly darker blue on hover */
  color: white; /* White text color on hover */
}

/* Section-specific styles */
.section-selector {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

select {
  padding: 8px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #ecf0f1; /* Light gray background color for the select box */
  border: 1px solid #bdc3c7; /* Border color */
  border-radius: 4px;
}

/* Add more styles as needed */
